QWidget { background-color: black; }
QWidget#currentTrackWidget { background-color: #0b263b;}
QWidget#optionsWindow { background-color: #1f2936; }
QWidget#leftBoard { background-color: #17212b; }
QPushButton { background-color: #1f2936;
              border: none; }

/* сделать то что снизу и с кнопками закрыть, развернуть, свернуть */

QPushButton#shuffle { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/shuffle.png); }            
QPushButton#previousTrack { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/previousTrack.png); } 
QPushButton#play { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/play.png); } 
QPushButton#nextTrack { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/nextTrack.png); } 
QPushButton#repeat { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/repeat.png); } 
QPushButton#mute { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/muteOff.png); } 

/* QPushButton:hover#shuffle { border-image: url(/home/marcussss1/2022_2_MidnightSun/project/impl/icons/play.png) }  */ /* При наведении подсветка */ 

QSlider { background-color: #1f2936;
          border: none; }
QSlider::groove:horizontal { border: 1px solid #999999;
                             height: 18px;
                             border-radius: 9px; }
QSlider::handle:horizontal { width: 18px; }
                             /* background-image: url(:/slider-knob.png) } */ /* не понятно насколько необходима эта строка, кажется, бесполезна */
QSlider::add-page:qlineargradient { background: lightgrey;
                                    border-top-right-radius: 9px;
                                    border-bottom-right-radius: 9px;
                                    border-top-left-radius: 0px;
                                    border-bottom-left-radius: 0px; }
QSlider::sub-page:qlineargradient { background: blue;
                                    border-top-right-radius: 0px;
                                    border-bottom-right-radius: 0px;
                                    border-top-left-radius: 9px;
                                    border-bottom-left-radius: 9px; }