name: d.litvak-workflow

on:
  push:
    branches: [ dev/ci_setup ]
jobs:
  default-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install gtest manually
        run: sudo apt-get install libgtest-dev libgmock-dev &&
             sudo apt-get install libtbb-dev &&
             cd /usr/src/googletest/ &&
             sudo mkdir build &&
             cd build &&
             sudo cmake .. &&
             sudo make && 
             sudo cp lib/* /usr/lib 

      - name: Building
        run: |
          cmake -B build
          cmake --build build
      
      - name: Upload our build dir
        uses: actions/upload-artifact@v3
        with:
          name: build-dir
          path: build

  linters:
    needs: [ default-build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install cppcheck
        run: sudo apt install cppcheck

      - name: Run cppcheck
        run: cppcheck project --enable=all --inconclusive --error-exitcode=1 -I.
    
      - name: Install cpplint
        run: pip install cpplint

      - name: Run cpplint
        run: cpplint --recursive .
        
      - name: Install gtest manually
        run: sudo apt-get install libgtest-dev libgmock-dev &&
             sudo apt-get install libtbb-dev &&
             cd /usr/src/googletest/ &&
             sudo mkdir build &&
             cd build &&
             sudo cmake .. &&
             sudo make && 
             sudo cp lib/* /usr/lib 

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-dir
          path: build

      - name: Configuration with clang-tidy
        run: cd build &&
             cmake DWITH_CLANG_TIDY=on .. &&
             make

  unit-tests:
    needs: [ default-build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
  
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-dir
          path: build

      - name: Run unit-tests
        run: sudo ctest
        # run: sudo chmod 777 ./build/project/test
  
  memtest:
    needs: [ default-build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1

      - name: Install gtest manually
        run: sudo apt-get install libgtest-dev libgmock-dev &&
             sudo apt-get install libtbb-dev &&
             cd /usr/src/googletest/ &&
             sudo mkdir build &&
             cd build &&
             sudo cmake .. &&
             sudo make && 
             sudo cp lib/* /usr/lib 
      
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: build-dir
          path: build
   
      - name: Install valgrind
        run: sudo apt install valgrind

      - name: Run valgrind
        run: sudo chmod 777 build/project/test &&
             valgrind --tool=memcheck --leak-check=summary --leak-check=full --track-origins=yes ./build/project/test

      - name: Configuration with fsanitazer
        run:  cd build &&
              cmake -DWITH_MEMCHECK=ON .. &&
              make

      - name: Run fsanitaze
        run: sudo chmod 777 ./build/project/test
        # run: sudo ctest
