

name: d.litvak-workflow

on:
  push:
    branches: [ dev/d.litvak/tests-carcass-uml ]
jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install cppcheck
        run: sudo apt install cppcheck

      - name: Run cppcheck
        run: cppcheck project --inline-suppr --enable=all --inconclusive --error-exitcode=1 -I.
    
      - name: Install cpplint
        run: pip install cpplint

      - name: Run cpplint
        run: cpplint --recursive project/impl project/lib project/main.cpp

      - name: Install qt5
        run: sudo apt-get install qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools &&
             sudo apt install qtmultimedia5-dev
        
      - name: Configuration with clang-tidy
        run: mkdir build &&
             cd build &&
             cmake DWITH_CLANG_TIDY=on .. &&
             make 

  memtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1

      - name: Install qt5
        run: sudo apt-get install qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools &&
             sudo apt install qtmultimedia5-dev

      - name: Install scan-build
        run: pip install scan-build

      - name: Default configuration
        run: mkdir build &&
             cd build &&
             cmake .. &&
             make

      - name: Set up environment
        run: sudo apt update &&
             sudo apt install -y libev-dev
   
      - name: Install valgrind
        run: sudo apt install valgrind

      - name: Run valgrind
        run: cd build && 
             cd project &&
             valgrind --tool=memcheck --leak-check=summary --leak-check=full --track-origins=yes ./test

      - name: Configuration with fsanitazer
        run:  cd build &&
              cmake -DWITH_MEMCHECK=ON .. &&
              make

      - name: Run fsanitaze
        run: cd build &&
             cd project &&
             ./test
